{% extends 'base.html.twig' %}



{% block body %}
<div class="container my-5">

    <h3>Modification de mon mot de passe</h3>

    {{ form(modifyPwd) }}

    {#Constitution de notre formulaire de changement de mot  de passe.Il comportera un input qui demandera le mot de passe actuel et le comparera avec la BDD.Si son mot de passe est bon,on lui demande son nouveau mot de passe et ensuite la confirmation de son nouveau mot de passe.Et on termine ,par la mise à jour en BDD.
    Il recevra aussi une petite notification pour la confirmation de modification du mot de passe.#}


</div>

{% endblock %}
