.formRegister{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
}

h1 {
    text-align: center;
    padding-top: 4rem;
}

.btn {
    background-color: black;
    color: white;
}

